# Editor
*.iml
.swp
.vscode
.idea

# terraform
.terragrunt-cache
.terraform

# Serverless directories
.serverless

# Webpack directories
.webpack

# Package directories
*node_modules/
yarn-error.log

# Python
*__pycache__/
*.pyc
.venv/
venv
.python-version
.testmondata
.mypy*
.pytest_cache*
.coverage*
htmlcov/

# OSX
.DS_STORE
